<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


 <mapper namespace="chattingMapper">
	<insert id="insert" parameterType="com.market.chatting.ChattingDTO">
		insert into tbl_chatting
		values(#{nickname}, #{message})
	</insert>
	<select id="select" resultType="com.market.chatting.ChattingDTO">
		select * from tbl_chatting
	</select>
 </mapper>