<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


 <mapper namespace="mypageMapper">
 
 	<!-- 마이페이지로 옮길것 -->
	<!-- 프로필 정보 수정 -->
	<update id="modifyProfile" parameterType="com.market.member.MemberDTO">
		update tbl_member set 
			user_profile = #{user_profile}
			where user_id = #{user_id}
	</update>
	
	<!-- 정보수정 -->
	<update id="modifyInfo" parameterType="map">
		update tbl_member set 
			user_nickname = #{user_nickname}, user_pw = #{user_pw}, user_pw = #{user_pw}, user_phone = #{user_phone}, user_pw = #{user_pw},
			postcode = #{postcode}, roadAddr = #{roadAddr}, detailAddr = #{detailAddr}, extraAddr = #{extraAddr}
			where user_id = #{user_id}
	</update>
 
 </mapper>