<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="post_imgMapper">
	<!-- 이미지 저장 -->
	<insert id="insert" parameterType="com.market.post_img.Post_imgDTO">
		insert into tbl_post_img values(post_img_seq.nextval, #{post_ori_name}, #{post_sys_name},#{post_seq})
	</insert>

	<!-- 모든 이미지 하니씩 조회 -->
	<select id="selectOneAll" resultType="com.market.post_img.Post_imgDTO">
		SELECT
		    post_img_seq,post_ori_name,post_sys_name,post_seq
		FROM tbl_post_img
		    WHERE post_img_seq IN ( SELECT MIN(post_img_seq) FROM tbl_post_img GROUP BY post_seq)
	</select>	
	
	<!-- post 이미지 조회 -->
	<select id="selectPost_seq" resultType="com.market.post_img.Post_imgDTO">
		select*from tbl_post_img where post_seq = #{post_seq}
	</select>	



</mapper>