<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="postMapper">
	<!-- 게시글 저장 -->
	<insert id="insert" parameterType="com.market.post.PostDTO">
		insert into tbl_post values
		(#{post_seq}, #{post_title}, #{post_content}, #{post_category}, 0, 0, 0, #{price_selling}
		, #{price_check}, #{post_addr}, sysdate, #{post_state}, #{user_id}, #{user_category})
	</insert>
	
	<!-- 게시글 저장 -->
	<update id="modify" parameterType="com.market.post.PostDTO">
		update tbl_post set
		post_title = #{post_title}, post_content = #{post_content}, post_category = #{post_category}
		,price_selling = #{price_selling} ,price_check = #{price_check}, post_time = sysdate
		where post_seq = #{post_seq}
	</update>

	<!-- 새로운 post seq 생성 -->
	<select id="selectSeq" resultType="int">
		select post_seq.nextval from dual
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="postDelete" parameterType="int">
		delete from tbl_post where post_seq = #{post_seq}
	</delete>
	
	<!-- state 업데이트 -->
	<update id="toPost_state" parameterType="com.market.post.PostDTO">
		update tbl_post 
			set post_state=#{post_state} 
			where post_seq = #{post_seq}
	</update>
	<!-- 이미지 조인 문 전체 조회 -->
	<select id="selectJoin" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
	select * from tbl_post a FULL OUTER JOIN tbl_post_img b
		on a.post_seq= b.post_seq
	and post_img_seq IN ( SELECT MIN(post_img_seq) FROM tbl_post_img GROUP BY post_seq)
		where NOT post_title is NULL
		order by a.post_seq
	</select>
	
	<!-- post_seq 번호로 조회 -->
	<select id="selectPost_seq" resultType="com.market.post.PostDTO">
		select*from tbl_post where post_seq = #{post_seq}
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="inquiry_cnt" parameterType="int">
		update tbl_post set 
			post_inquiry_cnt = post_inquiry_cnt+1 
			where post_seq = #{post_seq}
	</update>
	<!-- 게시글 관심수 수정 증가 -->
	<update id="interestUpdate" parameterType="map">
		update tbl_post set 
			post_interest_cnt = #{post_interest_cnt} 
			where post_seq = #{post_seq}
	</update>
</mapper>