<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="reviewMapper">

<!-- 리뷰 평균구하기 -->
	<select id="reviewAvg" parameterType="String" resultType="float">
	select avg(review_rating) from tbl_review where reviewed_id=#{user_id} ;
	</select>

 	<select id="selectAll" parameterType="hashmap" resultType="com.market.review.ReviewDTO">
 	select * from ( select tbl_review.*, row_number() over(order by review_seq desc)
 		 as num from tbl_review)where (num between #{start} and #{end}) and (reviewed_id= #{reviewed_id}) 	
 	</select>
 
 	<select id="getPageNavi" parameterType="String" resultType="int">
 		select count(*) as totalCnt from tbl_review where reviewed_id= #{reviewed_id}
 	</select>
 
 	<delete id="delete" parameterType="int">
 	delete from tbl_review where review_seq = #{review_seq}
 	</delete>
 	
 	<insert id="insert" parameterType="com.market.review.ReviewDTO">
 	<selectKey order="BEFORE" keyProperty="review_seq" resultType="int">
 		select review_seq.nextval from dual
 		</selectKey>
 	insert into tbl_review values(#{review_seq},#{review_comment},sysdate,#{review_rating},#{review_nickname},#{review_profile},#{user_id}
 		,#{user_category},#{reviewed_id})
 		
 	</insert>
 	<!-- 준철 리뷰 카운트 -->
 	<select id="reviewCnt" resultType="int">
 		select count(*)from tbl_review where user_id=#{user_id}
 	</select>
 	</mapper>
 	